header, .mainContent, .row{
	max-width: 1200px;
	padding: 0px 5px;
	margin: auto;
}

header{
	justify-content: space-between;
	padding: 0 0 0 5px;
}

@font-face {
	font-family: 'CovesLight';
	src: url("../Fonts/Coves Light.otf");
}

@font-face {
	font-family: 'KayakSans';
	src: url("../Fonts/Kayak Sans Light.otf");
}

.PageName{
	flex-basis: 50%;
	margin: 0;
	padding: 0;
}

#myName {
	font-family: 'CovesLight';
	font-size: 5em;
	margin: 0;
	padding: 0;
}

.burgermenu{
	display: none;
}

.mainNav{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	padding: 3px 0px;
	height: auto;
}

.mainNav .row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.mainNav .row ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
}

.mainNav > div > ul > li {
	list-style-type: none;
}

.mainNav ul li a{
	font-family: 'CovesLight';
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.mainNav ul li a:hover{
	background-color:#bf0000;
	color: #fff;
}

.mainContent {
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
}

main {
	flex-basis: 75%;
	margin-right: 15px;
}

.sideBar {
	height:fit-content; 
	background-color: #fdfdfd;
	box-shadow: 8px 7px 27px -7px #e8e8e8;
	border-radius: 10px;
	flex-basis: 25%;
	margin-left: 5px;
	border: 1px, solid, black;
}

footer{
	background-color: #ebebeb;
    margin: 0 auto;
	width: 65%;
	border-radius: 20px;
}

.footerContent{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}

address{
	margin: auto 0;
}

.footerSocialLinks{
	margin: auto 0;
}

.footerSocialLinks ul {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.footerSocialLinks ul li {
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
}

.footerLinks{
	margin: auto 0;
}
.footerLinks li{
	font-family: 'KayakSans';
	list-style: none;
}

