* {
	box-sizing: border-box;
}

body{
	font-famliy: "Open Sans", helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
}


.container{
	width: 100%;
	min-width: 320px;
}

.mainNav{
	display: none;
}

.mainNav ul{
	list-style: inside;
	margin: 0;
}

.mainNav ul li{
	color: #fff;
	padding: 5px;
}

.mainNav ul li a{
	display: inline-block;
	width: 100%;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	padding: 8px 0;
}

img {
	width: 100%;
}

.mainContent {
	margin: 0 10px;
}

.news {
	display: flex;
	flex-wrap: wrap;
}

.newsItem {
	flex-basis: 50%;
	padding: 0 10px;
}

.bars {
	float: right;
	cursor: pointer;
}

.bar1, .bar2, .bar3{
	width: 24px;
	height: 4px;
	margin: 6px 0;
	background-color: #000;
}

.search > form{
	display: flex;
}

input[type="search"]{
	flex-basis: 80%;
	padding: 12px;
	border: 1px solid black;
	border-right: none;
	-webkit-appearance: none;
}

button[type="submit"]{
	flex-basis: 20%;
	background-color: #42F2F7;
	border: none;
	color: #fff;
	border: 1px solid black;
}

header {   
	display: flex;
	flex-wrap: wrap;
	margin: 5px 5px;
}

.search{
	flex-basis: 100%;
}

.logo{
	display: flex;
	flex: 1;  /*  Don't set flex-basis as wrap will overrule it just set to grow and shrink */
}

.logo img{
	max-width: 400px;
	padding: 5px;
}

.loginLinks{
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
}

.burgermenu{
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	padding: 13px 11px 0 11px; 
}